<div class="profile">
    <div class="profile_inner">
        <img draggable="false" src="/images/author/profile.jpg" alt="Shenhai Ran" title="Shenhai Ran"
            height="150" width="150" />
        <h1>Boat/-Logs</h1>
        <span>Life is Like a Boat</span>
        {{- partial "social_icons.html" -}}

        <div class="buttons">
            <a class="button" href="/posts" rel="noopener" title="Blog Posts">
                <span class="button-inner">
                    Blog Posts
                </span>
            </a>
            <a class="button" href="/about" rel="noopener" title="About Me">
                <span class="button-inner">
                    About Me
                </span>
            </a>
        </div>
    </div>
</div>
